body {
	background-color: #1E9144;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-size: 50px;
	color: #1E9144;
}

#header {
	width: 800px;
	background-color: #252C27;
}

#left-sidebar {
	padding: 10px 10px 10px 10px;
	float: left;
	width: 20%;
	height: 100%;
	background-color: #3C5E47;
}

#OliverDescription {
	visibility: hidden;
}

#Oliver:hover #OliverDescription {
	visibility: visible;
}

#LaurelDescription {
	visibility: hidden;
}

#Laurel:hover #LaurelDescription {
	visibility: visible;
}

#DiggleDescription {
	visibility: hidden;
}

#Diggle:hover #DiggleDescription {
	visibility: visible;
}

#TheaDescription {
	visibility: hidden;
}

#Thea:hover #TheaDescription {
	visibility: visible;
}

#FelicityDescription {
	visibility: hidden;
}

#Felicity:hover #FelicityDescription {
	visibility: visible;
}

.character-name {
	text-align: center;
}

.character-images {
	width: 80%;
	height: 80%;
}

#right-sidebar {
	padding: 10px 10px 10px 10px;
	float: right;
	width: 20%;
	height: 20%;
	margin-left: 1%;
	background-color: #141B16;
	color: #1E9144;
}

.main-content-paragraph {
	padding: 10px 10px 10px 10px;
	text-align: justify;
}

#main-content {
	margin-left: 21%;
	padding: 10px 10px 10px 10px;
	background-color: #339966;
	font-size: 120%;
}

#main-content-image {
	float: left;
	padding: 10px 10px 10px 10px;
	width: 600px;
	height: 400px;
}

footer {
	text-align: right;
	background-color: #252C27;
	color: #1E9144;
}